//- Si vas a cometer errores, que sean nuevos

doctype html
html(lang="en")
	head
		title Examen MerySantos
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shorcut icon" href="img/image/favicon.png" type="image/png")
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/reveal.css")
		link(rel="stylesheet" href="css/theme/black.css" id="theme")
		link(rel="stylesheet" href="css/font-awesome.min.css")
		link(rel="stylesheet" href="css/utilitarios.css")
		link(rel="stylesheet" href="css/style.css")

		script(type"text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js")
		script(type="text/javascript" src="js/bootstrap.min.js")
		//- script(type="text/javascript" src="js/jquery-2.2.4.min.js")
		script(src='js/main.js')
		

		script.
									
	body.background-all
		.reveal
			.slides
				section
					h1.text-center Weather APP
					span Desarrollado por: Mery Santos Zabalaga
				section
					section
						.container-fluid
							.clima
								#clima1
					section
						#clima1Desc

				section
					section
						.container-fluid
							.clima
								#clima2
					section
						#clima2Desc
				//- section
				//- 	section
				//- 		.container-fluid
				//- 			.clima
								
				//- 				#clima3
		script(src="lib/js/head.min.js")
		script(src="js/reveal.js")

		script.
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});


			
		