//- Si vas a cometer errores, que sean nuevos

doctype html
html(lang="en")
	head
		title Examen MerySantos
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shorcut icon" href="img/image/favicon.png" type="image/png")
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")
		link(rel="stylesheet" href="css/utilitarios.css")
		//- link(rel="stylesheet" href="css/style.css")

		//- Titulo
		link(href='https://fonts.googleapis.com/css?family=Rhodium+Libre' rel='stylesheet' type='text/css') 
		//- Handwriting
		link(href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet' type='text/css')
		<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
		//- <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet"> 
				
		script(type="text/javascript" src="js/jquery-2.2.4.min.js")
		script(type="text/javascript" src="js/bootstrap.min.js")
		//- script(src='main.js')
		

		script.
									
	body.background-all
		